
@mixin handle-icon-sizes($size) {
  $target-font-size: 20px;
  @if $size == "xs" {
    $target-font-size: 12px;
  } @else if $size == "sm" {
    $target-font-size: 16px;
  } @else if $size == "md" {
    $target-font-size: 20px;
  } @else if $size == "lg" {
    $target-font-size: 24px
  } @else if $size == "xl" {
    $target-font-size: 32px
  }
  font-size: $target-font-size;
}

.q-icon {
  &.size-xs {
    @include handle-icon-sizes("xs")
  }
  &.size-sm {
    @include handle-icon-sizes("sm")
  }
  &.size-md {
    @include handle-icon-sizes("md")
  }
  &.size-lg {
    @include handle-icon-sizes("lg")
  }
  &.size-xl {
    @include handle-icon-sizes("xl")  }
}
